html, body {
  text-align: center;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  padding: 0;
}

h1 {
  margin: 20px 0 0;
}

h2 {
  margin: 15px 0 0;
}

h3 {
  margin: 30px 0 0;
}

#canvas_holder {
  width: 320px;
  margin: 0 auto;
}

#plot {
  height: 48px;
  width: 144px;
  font-size: 24px;
  border: 2px solid #000;
  margin: 20px 0 0;
}

#plot:hover {
  background: rgba(221, 221, 221, 0.5);
  cursor: pointer;
}

.footer {
  text-align: right;
  margin: 40px 20px 0;
}

#sizer {
  margin: 10px auto 0;
  padding: 0;
  width: 139px;
  text-align: center;
  height: 40px;

  input {
      cursor: pointer;
  }
}

#input_range_holder {
  background: #ccf;
  padding: 5px;
}

#output_holder {
  width: 129px;
  margin: 0 auto;

  output {
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
}

#input_holder {
  overflow: hidden;
  line-height: 20px;
  margin: 0;
  font-size: 14px;

  .begin {
    float: left;
  }

  .end {
    float: right;
  }
}
